.idea
*.mat
*.txt
*.zip
*.npz
.idea/
/develop/
build
dist
/sulfone/results/*
/sulfone/results*
/sulfone/log/*
/sulfone/log*
/sulfone/mpi_utils/backups/*
/sulfone/mpi_utils/backups*
/sulfone/mpi_utils/dist/*
/sulfone/mpi_utils/dist*
/sulfone/mpi_utils/log/*
/sulfone/mpi_utils/log*
/sulfone/mpi_utils/models/*
/sulfone/mpi_utils/models*
/sulfone/mpi_utils/results/*
/sulfone/mpi_utils/results*
/sulfone/mpi_utils/test/*
/sulfone/mpi_utils/test*
